<!DOCTYPE html>
html(lang="Ru-ru")
  head
    include ../global_modules/head
  body
    .wrapper
      include ../global_modules/header.html
      .main
        block main
      include ../global_modules/footer.html
    include ../global_modules/scripts